<div class="page-main-header">
    <div  class="container col-md-8 content-center centering-div" *ngIf="completedSetup">
      <div *ngIf="!isServiceReviewsPage">
        <h2>
          Place: {{place.description}}
        </h2>
        <app-stars [stars]="stars" class="big-stars" *ngIf="reviews.length > 0"></app-stars>
        <div class="col-md-6 centering-div">
          <div id="iframe-div">
            <iframe frameborder="0" scrolling="false" id="iframe-id"
                    style="border: 1px solid black"></iframe>
          </div>
        </div>
      </div>
      <div *ngIf="isServiceReviewsPage" class="centering-div">
        <h2>
          Service: {{service.name}}
        </h2>
        <app-stars [stars]="stars" class="big-stars" *ngIf="reviews.length > 0"></app-stars>
        <p>
          Category: {{service.category}}
        </p>
        <a *ngIf="isServiceReviewsPage" class="card-link reviews-page-link cool-link"
           title="Reviews and map of the place related to this service"
           [href]="'/reviews/place/'+service.placeId">Place</a>
        <a *ngIf="isServiceReviewsPage" class="card-link reviews-page-link cool-link"
           title="Get information about this service or vote the correctness of those information"
           [href]="'/info/service/'+service.id">Info</a>
      </div>
      <div id="reviews-div">
        <h3>
          Reviews:
        </h3>
        <div *ngIf="reviews.length==0">
          <p>No reviews found at this time.</p>
        </div>
        <ol class="list-group list-group-flush" *ngIf="reviews.length>0">
          <li *ngFor="let review of reviews">
            <div class="card card-no-padding list-group-item">
              <div class="card-body centering-div">
                <app-stars [stars]="review.stars"></app-stars>
                <p class="card-text">{{review.comment}}</p>
                <p class="card-text date-p">{{review.date.toLocaleDateString()}}</p>
                <a class="card-link cool-link user-a" id="service-link"
                   [title]="capitalize(itemType) + ' reviews of this user'"
                   [href]="'/reviews/'+ itemType +'/by_user/'+review.userId">
                  {{review.userName}}
                </a>
                <br>
                <div id="delete-button-div" class="centering-div">
                  <button class="btn btn-primary" id="delete-button" type="button" *ngIf="review.userName==this.userName"
                          (click)="this.deleteReview()">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div class="col-md-10 center-block mt-3 centering-div"
           *ngIf=!reviewsContainUserReview()>
        <button class="btn btn-primary" type="button"
                routerLink='add' routerLinkActive="active">Add your review</button>
      </div>
  </div>
</div>