.card-title, .card-text{
  color: #444444 !important;
}

ol {
  display: inline-block;
  width: 100%;
}

li{
  list-style: none;
}

@media screen and (min-width: 2000px) {
  .small-item-list li{
    float: left;
    width: 25%;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1999px) {
  .small-item-list li{
    float: left;
    width: 33%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1499px) {
  .small-item-list li{
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 2500px) {
  li{
    float: left;
    width: 33%;
  }
}

@media screen and (min-width: 1500px) and (max-width: 2499px) {
  li{
    float: left;
    width: 50%;
  }
}

.card{
  width: 98%;
  max-width: 650px;
  margin-top: 2%;
}

.card-no-padding{
  padding: 0;
}

.tiny-card{
  width: 90% !important;
  max-width: 400px;
}

.card-title{
  margin-top: 0;
  font-size: large;
}

.card-body{
  width: 90%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  min-height: auto;
  overflow: hidden;
}

.center-block{
  max-width: none;
}

.user-a, .service-a{
  float:left;
  width:50%
}

.date-p{
  float: right;
  width:40%
}

h1{
  font-size: x-large;
  text-align: center;
  margin-top: 10%;
}

.cool-link{
  color: #308273 !important;
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin-bottom: 10px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  &:before {
    background-color: #379683;
    content: '';
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 100%;
  }
  &:hover {
    &:before {
      width: 0;
    }
    cursor: pointer;
  }
}