input{
  margin-top: 50%;
}

button{
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
}

.btn{
  display: block !important;
}

textarea{
  margin: 20px auto auto;
  width: 100%;
  color: white;
  display: block !important;
}

form{
  margin: auto;
}

h1{
  font-size: x-large;
  margin-bottom: 15%;
}

label{
  font-size: small;
  width: 80px;
  margin: auto auto auto 0;
}

#star-rating-div{
  margin: auto 0% auto auto;
  width: 100px;
}