<div class="page-main-header">
    <div  class="col-md-8 container content-center">
      <div id="inputs" class="centering-div">
        <h1>Add Review about {{'\"' + item.name + '\"'}}</h1>
        <form class="row form-group col-md-8">
            <label for="star-rating-div">Star rating:</label>
            <div id="star-rating-div">
                <star-rating [starType]="'svg'" [rating]=stars
                             (ratingChange)="changeRating($event)" role=""></star-rating>
            </div>
            <textarea value="" placeholder="Comment" id="commentArea" #commentArea class="form-control"
                    maxlength="1000"></textarea>
            <label class = "full hide-element" for="commentArea" title="Comment"></label>
            <button class="btn btn-primary" type="submit"
                    (click)="addReview(commentArea.value)">
                Add Review
            </button>
        </form>
      </div>
    </div>
</div>