<div class="page-main-header login-page">
  <div class="container centering-div">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain ">
        <form class="form" method="" action="">
          <div class="header header-primary text-center">
            <h1>
              Delete Account
            </h1>
          </div>
          <p>
            If you are sure, press the button.
          </p>
          <div class="content text-center">
            <button type="submit" (click)="this.deleteAccount()"
               class="btn btn-primary btn-round btn-lg btn-block">Delete Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
