<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-sm-6">
        <img class="card-img align-self-center w-50" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Card image"/>
      </div>
      <div class="col-sm-6">
        <div class="card-body-right">
          <h4 class="card-title">{{gameName}}</h4>
          <p class="card-text">{{gameDescription}}</p>
          <div class="btn-group">
            <a href="#" class="btn btn-primary">∧</a>
            <p class="card-text votesCount">{{votesCount}} Votes</p>
            <a href="#" class="btn btn-primary">∨</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>